{
  "scriptId": "スクリプトID",
  "rootDir": "dist",
  "parentId": "スプレッドシートID",
  "scriptExtensions": [
    ".js",
    ".gs"
  ],
  "htmlExtensions": [
    ".html"
  ],
  "jsonExtensions": [
    ".json"
  ],
  "filePushOrder": [],
  "skipSubdirectories": false
}
